$white: #FFFFFF;
$blue: #2E31FF;
$blue-ltr: rgba($blue,0.05);
$grey-ltr: #F4F4FF;
$grey-lt: #E7E7ED;
$red: #E52929;
$green: #28CC25;
$green-ltr: rgba($green,0.05);
$orange: #FF922E;

$text-pri: #3E3F70;
$text-dk: #0E0F4D;
