$spacing-base: 4px;
$spacing-xxxs: $spacing-base;
$spacing-xxs: $spacing-base * 2; // 8px
$spacing-xs: $spacing-base * 3; // 12px
$spacing-s: $spacing-base * 4; // 16px
$spacing-m: $spacing-base * 6; // 24px
$spacing-lg: $spacing-base * 12; // 48px
$spacing-xl: $spacing-base * 16; // 64px

$border-radius-xxs: 4px;
$border-radius-xs: 8px;
$border-radius-s: 12px;
$border-radius-m: 24px;
$border-radius-l: 56px;